h1{
    color:blue;
    text-align: center;
}
h2{
    color:blue;
}
strong{
    color:red;
}

#curiosidades {
    text-align: center;
}

#footer {
    text-align: center;
}

#subtitulo {
    text-align: center;
}


